{% extends "orders/base.html" %}

{% block title %}
    Comprobar los pedidos
{% endblock %}

{% block body %}
{% if orders %}
<h1>Aquí están los pedidos de diferentes clientes.</h1>
{% for usr in users %}
<div>
    {% for key, value in orders.items %}
    {% if key == usr.username %}
    <h3>{{ usr.username }}</h3>
    <form action="{% url 'orders:updateorder' user=usr.username %}" method="POST">
        {% csrf_token %}
        <select name="status">
            <option>Pendiente</option>
            <option>Entregado</option>
            <option>No se ha podido entregar</option>
        </select>
        <input type="submit" value="Finish order">
    </form>
</div>
<hr>
<table>
<tbody>
    <tr>
        <th>Detalles del pedido   </th>
        <th>Número de pizzas   </th>
        <th>Estatus   </th>
        <th>Total</th>
    </tr>
    {% for ordr in value %}
    <tr>
        <td>{{ ordr.pizzaname }}</td>
        <td>{{ ordr.count }}</td>
        <td>{{ ordr.status }}</td>
        <td>${{ ordr.total }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    {% if key == usr.id %}
    
    <h3 style="float: right; margin: 0px 5% 5% 0px;">Total: ${{ value }}</h3>
    {% endif %}
{% endfor %}
</tbody>
</table>
<br>
<hr>
{% endfor %}
{% else %}
    <h4>No hay orden que mostrar.</h4>
{% endif %}
{% endblock %}