{% extends "user/base.html" %}

{% block title %}
Inicie sesión aquí.
{% endblock %}

{% block body %}

    <form action="{% url 'user:login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Nombre de usuario</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
    <h3>¿Nuevo usuario? ¡Regístrese aquí!</h3>
    <a href="{% url 'user:register' %}">Regístrese</a>
{% endblock %}